<h1>Artists#show</h1>
<hr />
<br />
<%= link_to 'rankings', course_rankings_path(@course), class: "ui primary button inverted" %>
<br />
<br />
<br />
<%= link_to "Delete Course", @course, method: :delete, class: "ui red button inverted" %>
 