<nav>
  <ul>
    <li>
      <%= link_to 'Artists', artists_path %>
    </li>
    <li>
      <%= link_to 'Add Artist', new_artist_path %>
    </li>
    <li>
      <%= link_to 'Songs', songs_path %>
    </li>
    <li>
      <%= link_to 'Add song', new_song_path %>
    </li>
  </ul>
</nav>